:root{
    --clr--btn-100:#2A405E;
    --clr--brdr-200: #E68C51;

    --clr--nutral-100:#fff;
    --clr--nutral-900:#292D33;

    --ff--primary:'Open Sans',sans-serif;
    --ff--Ubnt:'Ubuntu', serif;

}
/* Common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,h1,h2,h3,p{
	margin:0;
}


/* colors */

.bg-dark{
    background-color:var(--clr--nutral-900);
}

/* section styles */

section{
	padding: 2rem;
}

/* Conatiner */

.container{
	margin-inline: auto;
	width: min(90%, 70.5rem );
  
}
/* Text alignments */

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

/* Fonts */

.ft-ubnt{
    font-family: var(--ff--Ubnt);
}
.ft-primary{
    font-family: var(--ff--primary);
}

/* Font colors */

.ft-dark{
    color: #000;
}
.ft-light{
    color:#fff;
}
/* Font styles */
.bold{
    font-weight:600;
}
.lh-16{
    line-height: 1.6rem;
}
/* Row arrangement */
.split-row{
    display: flex;
    flex-direction: row;
}
/* Column Arrangement */

.split-col{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.v-align{
    justify-content: center;
}

/* Links */
.common-a{
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;

}
.a-light{
    background-color: var(--clr--nutral-100);
    color: #000;
}
.a-dark{
    background-color: var(--clr--btn-100);
    color: var(--clr--nutral-100);
}
.projects a{
    width: 25%;
    margin:20px 20px 20px 0px;
    padding:10px 30px;
}
.bold-pr a{
    width: 60%;
    text-decoration: none;
    margin:20px 20px 20px 0px;
    padding:10px 30px;
}
.desg-pr a{
    width: 15%;
    margin-right:20px;
    padding:15px 40px;
}
/* margins */
.mr-tb{
    margin: 20px 0px; 
}
.mr-3{
    margin: 30px 0px 30px 0px;
}
/* Paddings */
.pd-tb{
    padding-top:20px;
    padding-bottom: 20px;
}
.pd-lr{
    padding: 0px 20px;
}
.pd-3{
    padding-left:30px;
    padding-right:30px;
}
/* Columns styles */


/* h2 heading */
.h2-hd{
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 1.1;
    }

/* Landing Page */
section.landing-page{
    background: rgba(0,0,0,0.5) url("../images/home.jpg")center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
}
.heading{
    border-left: 15px solid var(--clr--brdr-200);
}
.cls{
    margin-left: 500px;
    margin:250px 0 0 20px;
    font-size: 6rem;
    font-weight: 400;
    
}






/* About  */


/* .about div{
    padding: 1em;
    max-height: 12em;
    text-align: left;
} */
.about{
    margin: 45px auto 45px 0;   
}


.text-2{
    margin-right: 20px;
}
.text-3{
    position: relative;
    flex: 1;
    max-width: 100%;
}

.bold-pr{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    max-width: 100%;
    font-size: 1rem;
}
/* Border  transparent*/
.border-tp{
    border: 10px solid transparent;
}

/* Border Primary */
.border-pr{
    border:13px solid var(--clr--brdr-200);
    min-height: 310px;
}
/* Blue Button */
/* White Button */

.btn-white{
    width: 100px;
    height: 50px;
}



/* Designers */
.designers{
    display: flex;
    flex-direction: column;
}
.desg-pr{
    justify-content: space-between;
    padding: 2.5em;
}
.desg-pr p{
    color: var(--clr--nutral-900);
}
.desg-pr>div{
    width: 75%;
}



/* Projects */
.projects{
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;

}
.projects>div>*{
    margin: 10px;
    object-fit: cover;
}
.projects img{
    max-width:100%;
    height:auto;
    object-fit: cover;
}
.multi-img div{
    justify-content: space-between;
}
.abc>*{
    width: 50%;
}
.abc a{
    margin-top: 10px;
}
.multi-img img{
    justify-content: space-between;
    max-width: 250px;
    height: auto;
}
.multi-img div{
    justify-content: space-between;
}
.img1{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}




/* Profiles */


div.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    object-position: 40% 20%;
    filter: grayscale(100%);
}
.det {
    display: flex;
    justify-content: center;
}
.profile p{
    font-size: 0.975rem;
    font-weight:600 ;
    width: 75%;
}
.profile h4{
    font-size:1.2em;
    padding: 20px 0px;
    border-bottom: 15px solid var(--clr--brdr-200);
}

.fl{
    display: flex;
    justify-content: center ;
}
.div{
    width: 25%;
}
/* small image section */
.sm-section img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 20% 60%;
}
/* Contact */
.details>*{
    margin-left: 20px;
}
.details p:first-child{
    padding-top: 40px;
}
.contact{
    flex-wrap: wrap;
    margin: 0px 2em ;
}
.contact>*{
    width: 40%;
}
.bt{
    justify-content:space-between ;
}
.contact a{
    padding:15px 10px;
}
/* Footer */
.footer{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}


@media screen and (min-width: 992px){
    
}


@media screen and (min-width: 568px) and (max-width: 991px){
      .split-row{
          display: flex;
          flex-wrap: wrap;
      }
      .split-row >*:not(a){
          flex:50%;
      }
      .desg-img{
          width: 100%;
          object-fit:cover;
      }
      .desg-pr{
          flex-direction: column;
      }
      .desg-pr div{
          width: 100%;
      }
      .bold-pr,
      .desg-pr p{
          text-align: justify;
      }
     
        .desg-pr a{
            margin-top: 20px;
            text-align: center;
            width: 50%;
        }
        .bold-pr a{
            margin-top:10px;
            text-align: center;
            padding: 10px 0px;
            width: 50%;
        }
      
    
        .contact div{
            min-width:400px;
        }
        
    
  }
@media screen and (min-width: 568px) and (max-width: 767px){
    .img3{
        width: 100%;
        object-fit:cover;
        object-position: 40% 20%;
    }
     
}

@media screen and (max-width: 567px){
    div.split-row{
        display: flex;
        flex-direction: column;
        }
        .split-row > *{
          width: 100%;

        }
        .box-1 h1{
            font-size:15vw;
        }
        .heading{
            min-width:500px ;
        }
        .heading h1{
            font-size: 4.5rem;
        }
        .desg-pr a,
        .bold-pr a{
            text-align: center;
            width: 50%;
            height: auto;
            padding: auto;
        }
        
        .desg-pr >*{
            margin: 10px;
        }
        .border-pr{
            min-height: 210px;
        }
        .desg-img{
            width: 100%;
            height: auto;
        }
        .about p{
            text-align: justify;
        }
        .about h2,
        .designers h2{
            text-align: center;
        }
        .desg-pr>div{
            width: 100%;
            text-align: justify;
        }
        .contact{
            margin: 0px;
        }
        .contact>*{
            min-width: 300px;
            padding: none;
        }
        
        .landing-page{
            height: 100vh;
        }
        
        .multi-img img{
            max-width: 100%;
            height: auto;
            margin: 10px 0px;
        }
  }

